PORT=4000
USE_MONGODB=true
MONGODB_URI=mongodb+srv://miguel_db_user:YOUR_PASSWORD@YOUR_CLUSTER.mongodb.net/nlm-dashboard?retryWrites=true&w=majority
RINGBA_API_TOKEN=
RINGBA_ACCOUNT_ID=
GOOGLE_SHEETS_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
BIGO_EMAIL_GMAIL_CLIENT_ID=
BIGO_EMAIL_GMAIL_CLIENT_SECRET=
BIGO_EMAIL_GMAIL_REFRESH_TOKEN=
